#!/bin/bash

# Guide:
#
# 1. Copy this file to .env
#
#    cp .env-sample .env
#
# 2. Fill the blanks

export NODE_ENV=development
export PORT=3001
export ALLOW_HTTP=true
export DATABASE_URL=postgres://alvar:alvar@127.0.0.1:5432/alvar_order
export LOG_ENCRYPT_KEY=0123456789abcdef
export RENDER_API_URL=https://tile-api.alvarcarto.com/render
export STRIPE_SECRET_KEY=
export PRINTMOTOR_HOST=
export PRINTMOTOR_USER=
export PRINTMOTOR_PASSWORD=
export PRINTMOTOR_SERVICE_ID=

echo "Environment variables set!"
