{
  "env": {
      "browser":    true,
      "amd":        true,
      "node":       true,
      "es6":        true
  },
  "extends": "airbnb-base",
  "rules": {
    "no-implicit-coercion": "error",
    "no-process-env": "error",
    "no-path-concat": "error",
    "arrow-parens": [2, "as-needed", { "requireForBlockBody": true }],
    "import/no-extraneous-dependencies": ["error", {"devDependencies": true}],
    "no-use-before-define": ["error", { "functions": false }],
    "no-underscore-dangle": "off",
    "arrow-body-style": "off",
    "no-plusplus": "off",
    // Allowing Math.pow rather than forcing `**`
    // https://eslint.org/docs/rules/no-restricted-properties
    "no-restricted-properties": ["off", {
      "object": "Math",
      "property": "pow"
    }]
  }
}